body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #ffffff, #e6f0ff);
}

.container {
    width: 500px;
    margin: 80px auto;
    padding: 40px;
    background: white;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #0047ab;
    margin-bottom: 30px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

input:focus {
    outline: none;
    border-color: #0047ab;
    box-shadow: 0 0 5px rgba(0, 71, 171, 0.3);
}

button {
    width: 100%;
    padding: 14px;
    background: #0047ab;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background: #003080;
}

.success {
    background: #e6f7ff;
    color: #0047ab;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
}